	.social {
	  position: relative;
	  margin: auto;
	  text-align: center;
	  padding-top: 12vh;
	  padding-bottom: 35vh;

	}

	.social .link {
	  display: inline-block;
	  vertical-align: middle;
	  position: relative;
	  width: 150px;
	  height: 150px;
	  border-radius: 50%;
	  border: 2px dashed #78797A;
	  background-clip: content-box;
	  padding: 10px;
	  transition: .5s;
	  color: #D7D0BE;
	  margin: 15px;
	  text-shadow:
	    0 -1px 0 rgba(0, 0, 0, 0.2),
	    0 1px 0 rgba(255, 255, 255, 0.2);
	  font-size: 70px;
	}

	.social .link span {
	  display: block;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	}

	.social .link:hover {
	  padding: 20px;
	  color: white;
	  margin-left: -5px;
	  -webkit-transform: translateX(10px) rotate(360deg);
	  transform: translateX(10px) rotate(360deg);
	}

	.social .link.weibo {
	  background-color: #E6162D;
	  color: white;
	}

	.social .link.renren {
	  background-color: #227DC5;
	  color: white;
	}

	.social .link.facebook {
	  background-color: #3B5998;
	  color: white;
	}

	.social .link.wechat {
	  background-color: #00D30D;
	  color: white;
	}

	.social .link.instagram {
	  background-color: #C3B39C;
	  color: white;
	}

	.social .link.email {
	  background-color: #EA3E30;
	  color: white;
	}

	.qrcode {
		background-image: url(../img/qrcode.jpg);
		background-image: url(../img/qrcode.jpg);
		height: 40vh;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}